# Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=https://sukgbctwqwsyuapjivhb.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1a2diY3R3cXdzeXVhcGppdmhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNzgwNTAsImV4cCI6MjEwMTc1NDA1MH0.Q-7Emni2qPCWbxPoIjWggZDHWjA6nmmeIL1MrWK7E-o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1a2diY3R3cXdzeXVhcGppdmhiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjE3ODA1MCwiZXhwIjoyMTAxNzU0MDUwfQ.0Lewpg5LERPONEfcaK4xpcd4mNqoT5SeRtnFz-mXL4o
